In [1]:
import pandas as pd

customers_df=pd.read_csv('dataset/Customers.csv',encoding='ISO-8859-1')
data_dictionary_df=pd.read_csv('dataset/Data_Dictionary.csv')
exchange_rates_df=pd.read_csv('dataset/Exchange_Rates.csv')
products_df=pd.read_csv('dataset/Products.csv')
sales_df=pd.read_csv('dataset/Sales.csv')
stores_df=pd.read_csv('dataset/Stores.csv')

In [2]:
def fill_missing_values(df):
    for column in df.columns:
        if df[column].dtype == 'object':
            # Fill missing categorical data with mode
            df[column].fillna(df[column].mode()[0], inplace=True)
        elif pd.api.types.is_numeric_dtype(df[column]):
            # Fill missing numeric data with mean
            df[column].fillna(df[column].mean(), inplace=True)
        elif pd.api.types.is_datetime64_any_dtype(df[column]):
            # Forward fill missing date values
            df[column].fillna(method='ffill', inplace=True)

    return df

sales_df = fill_missing_values(sales_df)
customers_df = fill_missing_values(customers_df)
products_df = fill_missing_values(products_df)
stores_df = fill_missing_values(stores_df)
exchange_rates_df = fill_missing_values(exchange_rates_df)

# Specify data types
sales_df['Order Date'] = pd.to_datetime(sales_df['Order Date'])
sales_df['Delivery Date'] = pd.to_datetime(sales_df['Delivery Date'])
customers_df['Birthday'] = pd.to_datetime(customers_df['Birthday'])
exchange_rates_df['Date'] = pd.to_datetime(exchange_rates_df['Date'])

sales_df['Quantity'] = sales_df['Quantity'].astype(int)
sales_df['Currency Code'] = sales_df['Currency Code'].astype('category')

# Convert other DataFrame columns similarly as required
customers_df['Gender'] = customers_df['Gender'].astype('category')
stores_df['Square Meters'] = stores_df['Square Meters'].astype(float)
exchange_rates_df['Currency'] = exchange_rates_df['Currency'].astype('category')

In [3]:
print(sales_df.info(), sales_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  datetime64[ns]
 3   Delivery Date  62884 non-null  datetime64[ns]
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int32
 8   Currency Code  62884 non-null  category
dtypes: category(1), datetime64[ns](2), int32(1), int64(5)
memory usage: 3.7 MB
None    Order Number  Line Item Order Date Delivery Date  CustomerKey  StoreKey  \
0        366000          1 2016-01-01    2020-01-06       265598        10
1        366001          1 2016-01-01    2016-01-13      1269051         0
2        366001          2 2016-01-01    2016-01-13      1269051         0
3        366002          1 2016-01-01    2016-01-12       266019         0
4        366002          2 2016-01-01    2016-01-12       266019         0

   ProductKey  Quantity Currency Code
0        1304         1           CAD
1        1048         2           USD
2        2007         1           USD
3        1106         7           CAD
4         373         1           CAD

In [4]:
import pandas as pd

def check_missing_values(df):
    print("NaN/None values in each column:\n", df.isnull().sum())
    
    empty_str_count = (df == '').sum()
    print("\nEmpty string values in each column:\n", empty_str_count)

    space_only_count = (df.applymap(lambda x: isinstance(x, str) and x.isspace())).sum()
    print("\nWhitespace-only values in each column:\n", space_only_count)

    problematic_values = ['N/A', 'NA', 'null', 'NULL']
    for value in problematic_values:
        problematic_count = (df == value).sum()
        print(f"\n'{value}' values in each column:\n", problematic_count)

check_missing_values(sales_df)

NaN/None values in each column:
 Order Number     0
Line Item        0
Order Date       0
Delivery Date    0
CustomerKey      0
StoreKey         0
ProductKey       0
Quantity         0
Currency Code    0
dtype: int64

Empty string values in each column:
 Order Number     0
Line Item        0
Order Date       0
Delivery Date    0
CustomerKey      0
StoreKey         0
ProductKey       0
Quantity         0
Currency Code    0
dtype: int64

Whitespace-only values in each column:
 Order Number     0
Line Item        0
Order Date       0
Delivery Date    0
CustomerKey      0
StoreKey         0
ProductKey       0
Quantity         0
Currency Code    0
dtype: int64

'N/A' values in each column:
 Order Number     0
Line Item        0
Order Date       0
Delivery Date    0
CustomerKey      0
StoreKey         0
ProductKey       0
Quantity         0
Currency Code    0
dtype: int64

'NA' values in each column:
 Order Number     0
Line Item        0
Order Date       0
Delivery Date    0
CustomerKey      0
StoreKey         0
ProductKey       0
Quantity         0
Currency Code    0
dtype: int64

'null' values in each column:
 Order Number     0
Line Item        0
Order Date       0
Delivery Date    0
CustomerKey      0
StoreKey         0
ProductKey       0
Quantity         0
Currency Code    0
dtype: int64

'NULL' values in each column:
 Order Number     0
Line Item        0
Order Date       0
Delivery Date    0
CustomerKey      0
StoreKey         0
ProductKey       0
Quantity         0
Currency Code    0
dtype: int64

In [5]:
print(customers_df.info(), customers_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  category
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15266 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  datetime64[ns]
dtypes: category(1), datetime64[ns](1), int64(1), object(7)
memory usage: 1.1+ MB
None    CustomerKey  Gender               Name            City State Code  \
0          301  Female      Lilly Harding  WANDEARAH EAST         SA
1          325  Female       Madison Hull      MOUNT BUDD         WA
2          554  Female      Claire Ferres       WINJALLOK        VIC
3          786    Male  Jai Poltpalingada    MIDDLE RIVER         SA
4         1042    Male    Aidan Pankhurst   TAWONGA SOUTH        VIC

               State Zip Code    Country  Continent   Birthday
0    South Australia     5523  Australia  Australia 1939-07-03
1  Western Australia     6522  Australia  Australia 1979-09-27
2           Victoria     3380  Australia  Australia 1947-05-26
3    South Australia     5223  Australia  Australia 1957-09-17
4           Victoria     3698  Australia  Australia 1965-11-19

In [6]:
print(products_df.info(), products_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   object
 5   Unit Price USD  2517 non-null   object
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB
None    ProductKey                         Product Name    Brand   Color  \
0           1  Contoso 512MB MP3 Player E51 Silver  Contoso  Silver
1           2    Contoso 512MB MP3 Player E51 Blue  Contoso    Blue
2           3     Contoso 1G MP3 Player E100 White  Contoso   White
3           4    Contoso 2G MP3 Player E200 Silver  Contoso  Silver
4           5       Contoso 2G MP3 Player E200 Red  Contoso     Red

  Unit Cost USD Unit Price USD  SubcategoryKey Subcategory  CategoryKey  \
0        $6.62         $12.99              101     MP4&MP3            1
1        $6.62         $12.99              101     MP4&MP3            1
2        $7.40         $14.52              101     MP4&MP3            1
3       $11.00         $21.57              101     MP4&MP3            1
4       $11.00         $21.57              101     MP4&MP3            1

  Category
0    Audio
1    Audio
2    Audio
3    Audio
4    Audio

In [7]:
print(stores_df.info(), stores_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  67 non-null     float64
 4   Open Date      67 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ KB
None    StoreKey    Country                         State  Square Meters  Open Date
0         1  Australia  Australian Capital Territory          595.0   1/1/2008
1         2  Australia            Northern Territory          665.0  1/12/2008
2         3  Australia               South Australia         2000.0   1/7/2012
3         4  Australia                      Tasmania         2000.0   1/1/2010
4         5  Australia                      Victoria         2000.0  12/9/2015

In [8]:
print(exchange_rates_df.info(), exchange_rates_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  datetime64[ns]
 1   Currency  11215 non-null  category
 2   Exchange  11215 non-null  float64
dtypes: category(1), datetime64[ns](1), float64(1)
memory usage: 186.5 KB
None         Date Currency  Exchange
0 2015-01-01      USD    1.0000
1 2015-01-01      CAD    1.1583
2 2015-01-01      AUD    1.2214
3 2015-01-01      EUR    0.8237
4 2015-01-01      GBP    0.6415

In [9]:
sales_df['Quantity'].fillna(sales_df['Quantity'].mean(), inplace=True)

sales_df.dropna(subset=['CustomerKey'], inplace=True)

In [10]:
merged_df = pd.merge(sales_df, customers_df, on='CustomerKey', how='inner')

merged_df = pd.merge(merged_df, products_df, on='ProductKey', how='inner')

merged_df = pd.merge(merged_df, stores_df, on='StoreKey', how='inner')

merged_df = pd.merge(merged_df, exchange_rates_df, left_on=['Order Date', 'Currency Code'], 
                     right_on=['Date', 'Currency'], how='left')

merged_df.head()

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Gender,...,Subcategory,CategoryKey,Category,Country_y,State_y,Square Meters,Open Date,Date,Currency,Exchange
0,366000,1,2016-01-01,2020-01-06,265598,10,1304,1,CAD,Male,...,Cameras & Camcorders Accessories,4,Cameras and camcorders,Canada,Nunavut,1210.0,4/4/2015,2016-01-01,CAD,1.3884
1,1998016,1,2020-06-20,2020-01-06,399053,10,87,5,CAD,Female,...,Bluetooth Headphones,1,Audio,Canada,Nunavut,1210.0,4/4/2015,2020-06-20,CAD,1.3567
2,1730028,2,2019-09-26,2020-01-06,245143,10,87,6,CAD,Female,...,Bluetooth Headphones,1,Audio,Canada,Nunavut,1210.0,4/4/2015,2019-09-26,CAD,1.3240
3,2214002,4,2021-01-22,2020-01-06,384783,10,1619,5,CAD,Male,...,Movie DVD,6,"Music, Movies and Audio Books",Canada,Nunavut,1210.0,4/4/2015,2021-01-22,CAD,1.2714
4,1394030,5,2018-10-25,2020-01-06,397223,10,52,1,CAD,Male,...,Recording Pen,1,Audio,Canada,Nunavut,1210.0,4/4/2015,2018-10-25,CAD,1.3046

In [11]:
merged_df.to_csv('mergeddata.csv',index=False)

In [12]:
print(merged_df.info(), merged_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 34 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Number    62884 non-null  int64
 1   Line Item       62884 non-null  int64
 2   Order Date      62884 non-null  datetime64[ns]
 3   Delivery Date   62884 non-null  datetime64[ns]
 4   CustomerKey     62884 non-null  int64
 5   StoreKey        62884 non-null  int64
 6   ProductKey      62884 non-null  int64
 7   Quantity        62884 non-null  int32
 8   Currency Code   62884 non-null  category
 9   Gender          62884 non-null  category
 10  Name            62884 non-null  object
 11  City            62884 non-null  object
 12  State Code      62884 non-null  object
 13  State_x         62884 non-null  object
 14  Zip Code        62884 non-null  object
 15  Country_x       62884 non-null  object
 16  Continent       62884 non-null  object
 17  Birthday        62884 non-null  datetime64[ns]
 18  Product Name    62884 non-null  object
 19  Brand           62884 non-null  object
 20  Color           62884 non-null  object
 21  Unit Cost USD   62884 non-null  object
 22  Unit Price USD  62884 non-null  object
 23  SubcategoryKey  62884 non-null  int64
 24  Subcategory     62884 non-null  object
 25  CategoryKey     62884 non-null  int64
 26  Category        62884 non-null  object
 27  Country_y       62884 non-null  object
 28  State_y         62884 non-null  object
 29  Square Meters   62884 non-null  float64
 30  Open Date       62884 non-null  object
 31  Date            62884 non-null  datetime64[ns]
 32  Currency        62884 non-null  category
 33  Exchange        62884 non-null  float64
dtypes: category(3), datetime64[ns](4), float64(2), int32(1), int64(7), object(17)
memory usage: 14.8+ MB
None    Order Number  Line Item Order Date Delivery Date  CustomerKey  StoreKey  \
0        366000          1 2016-01-01    2020-01-06       265598        10
1       1998016          1 2020-06-20    2020-01-06       399053        10
2       1730028          2 2019-09-26    2020-01-06       245143        10
3       2214002          4 2021-01-22    2020-01-06       384783        10
4       1394030          5 2018-10-25    2020-01-06       397223        10

   ProductKey  Quantity Currency Code  Gender  ...  \
0        1304         1           CAD    Male  ...
1          87         5           CAD  Female  ...
2          87         6           CAD  Female  ...
3        1619         5           CAD    Male  ...
4          52         1           CAD    Male  ...

                        Subcategory CategoryKey  \
0  Cameras & Camcorders Accessories           4
1              Bluetooth Headphones           1
2              Bluetooth Headphones           1
3                         Movie DVD           6
4                     Recording Pen           1

                        Category Country_y  State_y Square Meters Open Date  \
0         Cameras and camcorders    Canada  Nunavut        1210.0  4/4/2015
1                          Audio    Canada  Nunavut        1210.0  4/4/2015
2                          Audio    Canada  Nunavut        1210.0  4/4/2015
3  Music, Movies and Audio Books    Canada  Nunavut        1210.0  4/4/2015
4                          Audio    Canada  Nunavut        1210.0  4/4/2015

        Date Currency Exchange
0 2016-01-01      CAD   1.3884
1 2020-06-20      CAD   1.3567
2 2019-09-26      CAD   1.3240
3 2021-01-22      CAD   1.2714
4 2018-10-25      CAD   1.3046

[5 rows x 34 columns]

In [13]:
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqlconnector://root:root@localhost:3306/dataspark')

merged_df.to_sql(name='merged_sales_data', con=engine, if_exists='replace', index=False)

62884